<!DOCTYPE html>
<html lang="en">
<!-- import css -->
<link rel="stylesheet" href="css/style.css">

<head>
    <meta charset="UTF-8">
</head>



<body>
    <div class="container">
        <h1>Brm vindo à página</h1>
        <p5>Nessa disciplina, estudamos IHC, desenvolvimento de páginas web, desenvolvimento para mobile e jogos</p5>
        <br>
        <br>
        <p5>Agora estamos na web</p5>
        <br>
        <hr class="solid">
    </div>

    <div>

        
        <form class="formulario" action="/show" method="POST">
            <fieldset>
                <legend>Dados</legend>
                <input class="entrada" type="text" placeholder="Nome" name="name">
                <input class="entrada" type="text" placeholder="E-mail" name="email">
                <label class="labelcurso">Curso: </label>
                <input class="radio" type="radio" name="curso" value="Computação">
                <label>Computação</label>
                <input class="radio" type="radio" name="curso" value="Ads">
                <label>Ads</label>
                <input class="radio" type="radio" name="curso" value="Sistemas">
                <label>Sistemas</label>
            </fieldset>
            <button type="reset">Limpar</button>
            <button type="submit">Submit</button>
        </form>


        </fieldset>

    </div>




    <footer id="footercopy">Copyright by Alef Hamad 2022</footer>


</body>


</html>

</html>